# Object files
*.o
*.obj

# Executables
*.exe
*.out

# Temporaries
tmp*
*.utxt
*.bin
test_results/
test_results_hot/

# Host-native compiler binary
base

# Listings
*.lst

# Assembly output
*.asm
!paslib/*.asm

# Backups
*~

# Editor swap

\#*#

# Experimental files
*.p2c
*.pas
*.dub
*.dtran

# But not the main ones
!work.p2c
!base.pas
!lexer.p2c
!lexer.pas
!build_pascom.dub
!tests/*.p2c
